<div class="content" id="content">
    <div class="card" [formGroup]="form" id="card">
        <mat-form-field>
            <mat-label>E-mail address</mat-label>
            <input matInput formControlName="userEmail">
        </mat-form-field>
        <mat-form-field >
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>

        <div class="buttons">
            <button mat-button [disabled]="form.invalid" (click)="tryLogin()" >Login</button>
            <button mat-button (click)="navigateToRegister()" >Register</button>

        </div>
    </div>
</div>